<a href="https://colab.research.google.com/github/dukenel/Data_Analytics/blob/master/ml_practice_problems_Duke_Nelson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Business Question**

Heart Disease (UCI ML Dataset)

The dataset is mulvariate and focuses on an area of life. It has 303 instances and 14 features with a target variable. A Classification Problem with a goal to determine if a patient has a heart disease or not.

In [12]:
# Url 
# https://archive.ics.uci.edu/ml/datasets/Heart+Disease

# heart disease github dataset url = https://raw.githubusercontent.com/niteen11/data301_predictive_analytics_machine_learning/main/data/heart.csv

**Import Libraries**

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# **Data Acquisition**

In [14]:
data_df = pd.read_csv('https://raw.githubusercontent.com/niteen11/data301_predictive_analytics_machine_learning/main/data/heart.csv')

**Additional information to Data Set Attributes**
*   sex (1 = male; 0 = female)
*    cp: chest pain type  (Value 1: typical angina /Value 2: atypical angina / Value 3: non-anginal pain / Value 4: asymptomatic)
*   trestbps: resting blood pressure (in mm Hg on admission to the hospital)
*   chol: serum cholestoral in mg/dl
*   fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)
*   thalach: maximum heart rate achieved
*   exang: exercise induced angina (1 = yes; 0 = no)
*   oldpeak = ST depression induced by exercise relative to rest
*   ca: number of major vessels (0-3) colored by flourosopy
*   thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

# **Data Wrangling**

In [15]:
data_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [16]:
data_df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [17]:
data_df.shape

(303, 14)

In [18]:
data_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [19]:
data_df.isna().any()

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
exang       False
oldpeak     False
slope       False
ca          False
thal        False
target      False
dtype: bool

In [20]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [21]:
#Feature Importance

In [22]:
#Heatmap for Feature Correlation

#**Data Visualization (EDA)**

In [ ]:
# Using pandas profiling for EDA

#**ML Modeling (Building, Selection and Evaluation)**